.App {
  text-align: center;
  padding: 20px;
  margin: 20px;
  line-height: 30px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 20px;
  /* text-decoration: underline; */
  
}
button,.excel{
  font-size: 20px;
  border: 1px solid black;
  color: green;
  background-color:white;
  margin-top: 20px;
  border-radius: 4px;
}
button:hover{
  font-size: 20px;
  border: 1px solid black;
  color: rgb(150, 218, 150);
  background-color:rgb(199, 126, 126);
  margin-top: 20px;
  border-radius: 4px;
}
table, th, td {
  font-size: 16px;
  border: 1px solid black;
  margin-left: -30px;
}
.tabel{
  margin-top: -60px;
}
input[type=text] {
  transition: width 0.4s ease-in-out;
  border: 0.2px solid grey;
  border-top: 0;
  border-left: 0;
  border-right: 0;
  width: 25%;
}

input[type=text]:focus {
  width: 50%;
  border: 0.2px solid rgb(219, 206, 206);
  border-radius: 5px;
  border-color: antiquewhite;


}

label, input {
  display: flex;
}

label {
  margin-bottom: 15px;
}

#Form{
padding: 10px;
color: rgb(43, 189, 233);
}

#Form h3{
  text-decoration: underline;
  text-decoration-color: cadetblue;
  padding:20px;
}